* {
	margin: 0px;
	padding: 0px;
}


html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border: 1px solid #ccc;
	/* border-radius: 2px; */
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}


.disable-text-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


.chat-page {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.navbar {
	background: #2D3262;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-items {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item {
	height: 30px;
	width: 30px;
	color: white;
	display: none;
	padding: 10px;
}
.nav-item:hover {
	cursor: pointer;
}

.no-pointer {
	pointer-events: none;
}

.content {
	display: flex;
	height:calc(100% - 60px);
	width: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 300px;
	background: #090F42;
}

.button {
	height: 40px;
	border-radius: 10px;
	padding: 0px 10px;
	margin-right: 20px;
	min-width: 50px;
}
.button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.04); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.button:focus {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.button:active {
	cursor: pointer;
	border-color: #bababa;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.add-chat-section {
	height: 60px;
	background: #070B32;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.plus-icon {
	width: 20px;
	height: 20px;
	padding: 10px;
	margin-bottom: -4px;
	color: inherit;
}
.plus-icon:hover {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
.plus-icon:active {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.channels-container {
	height:calc(100% - 150px);
	overflow-y: auto;
	color: white;
}

.channel {
	height: 50px;
	margin: 5px 0px 5px 0px;
	padding: 0px 10px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.channel:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.16); 
}
.channel:focus {
	cursor: pointer;
	background-color: rgba(0,0,0,0.16); 
}
.channel:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.24); 
}

.activeCurrentChannel {
	background-color: rgba(0,0,0,0.12);
}

.channel-info {
	display: flex;
	align-items: center;
	padding: 2px 5px 2px 5px;
}

.channel-icon {
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	background: white;
	border-radius: 5px;
	margin-right: 10px;
}

.setting-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	height: 20px;
	color: inherit;
	padding: 10px;
}
.setting-icon:hover {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
.setting-icon:active {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.profile-container {
	height: 90px;
	width: 100%;
	background: #070B32;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile {
	max-width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-info {
	display: flex;
	color: white;
	display: flex;
	align-items: center;
}

.current-user-avatar {
	width: 40px;
	border-radius: 50px;
	margin-right: 10px;
}

.curC {
	height: 100%;
	width:calc(100% - 300px);
	background: white;
	display: flex;
	flex-direction: column;
}

.curC-nav {
	background: #f3f3f3;
	min-height: 58px;
	border-bottom: 2px solid #dedede;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.curC-info {
	display: flex;
	align-items: center;
}

.curC-info .setting-icon:hover {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.curC-info .setting-icon:active {
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.all-chat-users-dropdown {
	position: absolute;
	border: 1px solid #BBBBBB;
	background: #f3f3f3;
	border-radius: 5px;
	display: none; 
	top: -20000px;
	padding: 10px 10px 5px 10px;
}
.all-chat-users-dropdown img {
	margin-right: 5px;
}
.all-chat-users-dropdown h4 {
	margin-bottom: 5px;
}

.chat-user {
	display: flex;
	align-items: center;
	margin-bottom: 5pxsetting-text;
}

.chat-settings-dropdown {
	position: absolute;
	border: 1px solid #BBBBBB;
	background: #f3f3f3;
	border-radius: 5px;
	display: none; 
	top: -20000px;
	padding-top: 5px;
}
.chat-settings-dropdown .setting-text {
	padding: 2.5px 10px;
	width: 100%;
	text-align: start;
	border: none;
}
.chat-settings-dropdown h4 {
	padding: 2.5px 10px;
}
.chat-settings-dropdown .setting-text:hover {
	background: rgba(0,0,0,0.04); 
	cursor: pointer;
}
.chat-settings-dropdown .setting-text:active {
	background: rgba(0,0,0,0.12); 
	cursor: pointer;
}
.chat-settings-dropdown .setting-text:focus {
	background: rgba(0,0,0,0.12); 
}

.chat-settings-dropdown .line {
	width: 100%;
	background: #BBBBBB;
	height: 1px;
}

.user-settings-popup {
	position: absolute;
	border: 1px solid #BBBBBB;
	background: #f3f3f3;
	border-radius: 5px;
	display: none; 
	top: -20000px;
	padding: 5px 0px;
}
.user-settings-popup .setting-text {
	padding: 2.5px 10px;
	border: none;
}
.user-settings-popup .setting-text:hover {
	background: rgba(0,0,0,0.04); 
	cursor: pointer;
}
.user-settings-popup .setting-text:active {
	background: rgba(0,0,0,0.12); 
	cursor: pointer;
}
.user-settings-popup .setting-text:focus {
	background: rgba(0,0,0,0.12); 
}

.user-settings-popup .line {
	width: 100%;
	background: #BBBBBB;
	height: 1px;
} 

.modal-background {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.users-modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	border-radius: 5px;
}
.users-modal-content .text-close {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.users-modal-content .close-icon {
	color: #333;
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	display: flex;
	align-items: start;
	justify-content: center;
}
.users-modal-content .close-icon:hover {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
.users-modal-content .close-icon:active {
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.users-modal-content .close-icon:focus {
	color: rgba(0, 0, 0, 0.8);
}

.users-modal-content .users-list {
	height: 180px;
	overflow-y: auto;
}
.users-modal-content .users-list img {
	margin-right: 5px;
}

.prompt-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	height: 200px;
	border-radius: 5px;
}
.prompt-modal-content .buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.chat-user .plus-icon:hover {
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
.chat-user .plus-icon:active {
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.chat-user .plus-icon:focus {
	color: rgba(0, 0, 0, 0.8);
}

.curC-name {
	max-width: 150px;
}

.curC-users {
	min-width: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f3f3f3;
	border: 1px solid #BBBBBB;
	border-radius: 5px;
	padding: 4px;
	margin-left: 20px;
}

.curC-users:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.04); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.curC-users:focus {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.curC-users:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.user-avatars {
	display: flex;
	flex-direction: row-reverse;
}

.chat-avatar {
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	background: gray;
	border: 1px solid #ffffff;
	border-radius: 50px;
	margin-right: -5px;
}

.user-nums {
	margin-left: 13px;
}

.chat {
	height:calc(100% - 150px);
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 0px;
}

.chat-start-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	padding: 0px 10px;
}

.no-messages {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	padding: 0px 10px;
}

.date-line {
	display: flex;
	align-items: center;
	width: 100%;
}

.date-line .line{
	width: 50%;
	height: 1px;
	background: #BBBBBB;
}

.date-line .line-date {
	white-space: nowrap;
	font-size: 12px;
	padding: 0px 2px;
}

.message {
	padding: 5px 20px 5px 20px;
	max-width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 10px;
	position: relative;
}

.message:hover {
	background-color: rgba(0,0,0,0.04); 
}

.message-avatar {
	width: 40px;
	/* min-width: 40px; */
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}

.message-data {
	display: flex;
	align-items: baseline;
}

.message-name {
	margin-right: 5px;
}

.message-date {
	font-size: 14px;
	margin-right: 5px;
}

.message-container {
	display: flex;
}

.message-popups {
	display: none;
	position: absolute;
	right: 10px;
}

.message-popups .edit-pen {
	margin-right: 10px;
}

.message-popups .popup {
	min-width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	background: #f3f3f3;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 4px;
}
.message-popups .popup:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.04); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-popups .popup:focus {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-popups .popup:active {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.edited-text {
	font-size: 12px;
	align-self: flex-start;
}

.chat-input-container {
	min-height: 88px;
	background: #f3f3f3;
	border-top: 2px solid #dedede;
	padding: 0px 20px;
}

.input-formats {
	display: flex;
	margin: 5px 0px;
}
.format-icon {
	min-width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #333;
	margin-right: 12px;
	border-radius: 5px;
}
/* .format-icon:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.12);
} */

.input-and-buttons {
	display: flex;
	align-items: center;
}

.message-input-field {
	width: calc(100% - 100px);
	height: 40px;
	resize: none;
	border-radius: 5px;
	padding: 10px;
}

.message-buttons {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.message-buttons .send-button {
	background-color: #38394A;
	color: #DEDEDE;
	height: 40px;
	border-radius: 10px;
	padding: 0px 10px;
	/* margin-right: 20px; */
	pointer-events: none;
}
.message-buttons .send-button-active {
	background-color: #000852;
	color: #fff;
	pointer-events: initial;
}
.message-buttons .send-button-active:hover {
	cursor: pointer;
	background-color: #000a56;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-buttons .send-button-active:focus {
	cursor: pointer;
	background-color: #000c65;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-buttons .send-button-active:active {
	cursor: pointer;
	border-color: #bababa;
	background-color: #000c65;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

.message-buttons-mobile {
	width: 50px;
	display: none;
	align-items: center;
	justify-content: flex-end;
}

.message-buttons-mobile .send-button {
	background-color: #38394A;
	color: #DEDEDE;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	padding: 10px 10px;
	/* margin-right: 20px; */
	pointer-events: none;
}
.message-buttons-mobile .send-button-active {
	background-color: #000852;
	color: #fff;
	pointer-events: initial;
}
.message-buttons-mobile .send-button-active:hover {
	cursor: pointer;
	background-color: #000a56;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-buttons-mobile .send-button-active:focus {
	cursor: pointer;
	background-color: #000c65;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.message-buttons-mobile .send-button-active:active {
	cursor: pointer;
	border-color: #bababa;
	background-color: #000c65;
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}

/* .time-button {
	background-color: #fff;
	color: #333;
	height: 40px;
	border-radius: 10px;
	padding: 0px 10px;
}
.time-button:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.04); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.time-button:focus {
	cursor: pointer;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
}
.time-button:active {
	cursor: pointer;
	border-color: #bababa;
	background-color: rgba(0,0,0,0.12); 
	box-shadow: 0 1px 1px 0 rgb(66 66 66 / 8%), 0 1px 3px 0.5px rgb(66 66 66 / 16%);
} */

.warning {
	color: red;
}

pre {
	font-family: inherit;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}


@media (max-width: 768px) {

	.nav-items {
		justify-content: space-between;
	}

	.nav-item {
		display: block;
	}

	.sidebar {
		position: absolute;
		display: none;
		height: calc(100% - 60px);
		top: 60px;
		z-index: 500;
	}

	.curC {
		width: 100%;
	}

	.curC-nav {
		padding: 0px 10px;
	}

	.message {
		padding: 0px 10px;
	}

	.message-buttons {
		display: none;
	}

	.message-buttons-mobile {
		display: flex;
	}

	.message-input-field {
		width: calc(100% - 50px);
	}

	.chat-input-container{
		padding: 0px 10px;
	}

	.chat {
		padding: 10px 0px;
	}

	.user-settings-popup {
		z-index: 501;
	}
}

@media (max-width: 600px) {

	.user-avatars {
		display: none;
	}

	.user-nums {
		margin: 0px 10px;
	}

	.users-modal-content {
		width: 80%;
	}

	.prompt-modal-content {
		width: 80%; 
	}
	
	
}